.outer-card {
    width: 160px;
    padding: 0px;
    margin: 0 auto;
}

.outer-card:hover,
.outer-card:focus {
    width: 180px;
    height: auto;
    opacity: 0.9;
    transition: 0.6s ease-in-out;
}


.itemcard-title {
    padding-top: 15px;
}

.itemcard-title:hover {
    text-decoration: underline;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .temple-title {
        font-size: 3rem;
    }

    .temple-sub-title {
        font-size: 1rem;
    }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {

    .temple-title {
        font-size: 1rem;
    }

    .temple-sub-title {
        font-size: 0.4rem;
    }
}

a.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.1em auto;
    }
}